<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Viaginho - Search Hotel</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Pesquisar Hotel</h1>

    <form action="#" th:action="@{/hotel/search}" th:object="${hotelSearchData}" method="post">
        <label>cidade:</label>
        <select name="city">
            <option value="Recife" th:field="*{city}">Recife</option>
            <option value="São Paulo" th:field="*{city}">São Paulo</option>
            <option value="Rio De Janeiro" th:field="*{city}">Rio de Janeiro</option>
        </select>
        <label>data de chegada:</label>
        <input type="startDate" name="startDate" th:field="*{startDate}"/>
        <label>data de saida:</label>
        <input type="endDate" name="endDate" th:field="*{endDate}"/>
        <input type="submit" value="hotelSearch"/>
    </form>

    <form action="#" th:action="@{/}" th:object="${null}" method="get">
        <p><input type="submit" value="voltar" /></p>
    </form>
</body>
</html>
