<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Viaginho - Login</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Login Screen</h1>
    <form method="post" action="/">
        <label>email:</label>
        <input type="email" name="email" th:value="${email}"/>
        <label>password:</label>
        <input type="password" name="password" th:value="${password}"/>
        <input type="submit" value="login"/>
    </form>
</body>
</html>
